.formated {
  --color-black: #000;
  --color-gray: #0f0f0f;
  --color-gray-lighter: #262626;
  --rounded-lg: 8px;
  --rounded-md: 4px;

  code {
    padding: 2px 6px;
    border-radius: var(--rounded-md);
    background: var(--color-gray-lighter);
  }

  ol {
    list-style: decimal;
    padding-inline-start: 1em;
  }

  ul {
    list-style: disc;
    padding-inline-start: 1em;
  }

  li {
    margin-block-end: 0.4em;
  }

  h3 {
    margin-top: 32px;
    font-weight: 600;
    margin-bottom: 16px;
    font-size: 18px;
  }

  p {
    &:first-child {
      margin-block-start: 0;
    }
  }

  ol,
  ul,
  p {
    margin-block-start: 0.8em;
    margin-block-end: 0.8em;
  }

  a {
    text-decoration: underline;
  }
}
